* {
    background: rgb(0, 140, 69);
    color: rgb(244, 249, 255);
    font-family:  Georgia, serif
}

h1 {
   font-size: 38px;
   background-color: rgb(205, 33, 42);
   color: rgb(244, 249, 255);
   border: 1px solid rgb(244, 249, 255);
   padding: 10px;
   padding-left: 20px;
}



ul,
ol
 {
    font-size: 32px;
    border: 1px solid rgb(244, 249, 255);
    padding: 10px;
    padding-left: 40px;

}

li {
    margin: 10px;

}

img {
    ;
}